<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1MQtMeK6A_arsMSBOHv5rZLU_PGbfhlk</string>
	<key>GCM_SENDER_ID</key>
	<string>291373039055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diatom</string>
	<key>PROJECT_ID</key>
	<string>diatom-50b1b</string>
	<key>STORAGE_BUCKET</key>
	<string>diatom-50b1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291373039055:ios:6b7a52ecf03bde73e266ba</string>
</dict>
</plist>